.navbar {
    flex: 0.25;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 330px;
}

.navbar-link {
    text-align: center;
    height: 64px;
    font-size: 28px;
    color: green;
    margin-top:5px
}

.link {
    color: black;
}

.navbar-link:hover {
    background: #70B5FF;
}

.active {
    background: #70B5FF;
}
